# List
**Lists** are used to store items.
We can create a list by using **square brackets** with **commas** separating items.

like:  
[1, 2, 3, "hi", 8.9]

In [2]:
lst = [1, 3, 5, 7]
print(lst)

[1, 3, 5, 7]

List items are accessed by indexing

index starts from **0**

In [3]:
print(lst[0])
print(lst[1])

1
3

### Negative indexing

when we use negative numbers as index it will start from last

In [42]:
lst = [0, 1, 4, 9, 16]
print(lst[-1])
print(lst[-3])

16
4

Nested list
**2D, 3D** list

In [4]:
lst = [[1, 2, 5],
       [5, 8, 9],
       [3, 5, 0]]
lst

[[1, 2, 5], [5, 8, 9], [3, 5, 0]]

In [5]:
print(lst[0][2]) # first row 3rd column

5

In [6]:
st = 'hello' #  string can be treated as list
print(st[1])

e

# List operation

Reassigned of a member of list

In [7]:
lst = [1, 2, 5, 6]
lst

[1, 2, 5, 6]

In [8]:
lst[2] = 4
lst

[1, 2, 4, 6]

list can be added

In [9]:
x = [2, 4]
x += [6, 8]
print(x[2]//x[0])

3

To check if an item is in a particular list, we can use the **in** operator.

It returns **True** if the item occurs one or more times in the list, and **False** if it doesn't.

In [10]:
x = [2, 3, 5, 7, 11]
print(5 in x)
print(13 in x)

True
False

In [11]:
nums = [10, 9, 8, 7, 6, 5]
nums[0] = nums[1] - 5
if 4 in nums:
  print(nums[3])
else:
  print(nums[4])

7

# foor loop

The **for** loop is used to iterate over a given sequence, such as lists or strings.

In [12]:
#  syntax
#  for in <sequence, range or list>:
#      <code block>

primes = [2, 3, 5, 7, 11, 13]
for prime in primes:
    print(prime)

2
3
5
7
11
13

In [13]:
nums = [4, 7, 3, 1]
for x in nums:
    print(x*2)

8
14
6
2

A **for** loop can be used to iterate over strings.

In [14]:
str = 'hello!'
for letter in str:
    print(letter)

h
e
l
l
o
!

In [15]:
lst = [2, 3, 4, 5, 6, 7]

for x in lst:
   if(x%2==1 and x>4):
      print(x)
      break

5

In [16]:
nums = [1, 2, 3, 4]
res = 0

for x in nums:
    if(x%2==0):
        continue
    else:
        res += x
        
print(res)

4

# for vs while

So we’ve got the **for** and **while** loops, which can be used to execute a block of code multiple times. So which do we use and when?

Usually we’d use the **for** loop when the number of iterations is fixed. For example, iterating over a fixed list of items in a shopping list.

The **while** loop is useful in cases when the number of iterations isn’t known and depends on some calculations and conditions in the code block of the loop. For example, ending the loop when the user enters a specific input in a calculator program.

In [17]:
# sum of elements of list using foor loop

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0

for x in num:
    sum += x

print(sum)

55

In [18]:
# sum of elements of list using foor loop

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
i = 0

while i < len(num):
    sum += num[i]
    i += 1
    
print(sum)

55

# Ranges

 It starts from 0, increments by 1 and stops before the specified number.

In [19]:
sq = list(range(5))
print(sq)

[0, 1, 2, 3, 4]

If it’s called with two arguments, it’ll produce values from the first to the second.

In [20]:
sq = list(range(5, 15))
sq

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

There’s also a third argument you can use with ```range()```, and it’s really useful.  
It’s called **Step** and it determines the interval of the sequence produced.

In [21]:
sq = list(range(2, 10, 2))
sq

[2, 4, 6, 8]

In [23]:
#  others example

print(list(range(5, 1, -1)))

[5, 4, 3, 2]

In [24]:
numbers = list(range(5, 10, 2))
numbers

[5, 7, 9]

### Range in for loop

In [27]:
for i in range(100):
    if i % 5 == 0:
        print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

# List slices
**List slices** allow you to get a part of the list using two colon-separated indices.  
This returns a new list containing all the values between the indices.

In [30]:
x = list(range(10))
print(x)
print(x[3:6])
print(x[5:8])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5]
[5, 6, 7]

In [31]:
sqs = [0, 1, 4, 9, 16, 25, 36, 49, 64]
print(sqs[4:7])

[16, 25, 36]

If the first number in a slice is omitted, it’s taken to be the start of the list.  
If the second number is omitted, it’s taken to be the end.

In [33]:
lst = [2, 4, 6, 8, 10]
print(lst[:3])
print(lst[3:])

[2, 4, 6]
[8, 10]

In [34]:
sq = [0, 1, 4, 9, 16, 25, 36, 49, 64]
print(sq[4:])

[16, 25, 36, 49, 64]

Just like with ranges, your list slices can include a third number, representing the step, to include only alternate values in the slice.

In [36]:
x = list(range(10))
print('numbers = ', x)
print('even numbers = ', x[::2])
print('odd numbers = ', x[1::2])

numbers =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
even numbers =  [0, 2, 4, 6, 8]
odd numbers =  [1, 3, 5, 7, 9]

In [37]:
sqs = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(sqs[1::4])

[1, 25, 81]

**Negative values** can also be used in list slicing (as well as normal list indexing).

Which means that when negative values are used for the first and second values in a slice (or a normal index), they count from the end of the list

In [38]:
sqs = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
print(sqs[7:5:-1])

[49, 36]

In [39]:
#  Reverse a string

text = "Hello!"
rev = text[::-1]
rev

'!olleH'

In [40]:
nums = [1, 2, 3, 4, 5, 6]
res = nums[::-1]
print(res[2])

4

In [41]:
names = "hello"
names[1:-1]

'ell'

#### Others example

In [43]:
list = [1, 1, 2, 3, 5, 8, 13]
print(list[list[4]])

8

In [44]:
for i in range(10):
  if not i % 2 == 0:
    print(i+1)

2
4
6
8
10

In [45]:
x = [6, 4, 2, 9]
x = x[::-1]
print(x[0]+x[2])

13

# Problem

#### Sum of Consecutive Numbers


No one likes homework, but your math teacher has given you an assignment to find the sum of the first N numbers.

Let’s save some time by creating a program to do the calculation for you!

Take a number N as input and output the sum of all numbers from 1 to N (including N).

**Sample Input**  
100

**Sample Output**    
5050

# Solution

In [47]:
N = int(input())
sum = 0

for num in range(1, N + 1):
    sum += num

print(sum)

100
5050