# Function
A function has a **name** and can have **arguments**.

Functions can have multiple arguments.  
For example, ```range(2, 20)``` has two arguments, 2 and 20.  
Function arguments need to be separated by **commas**.

You **call** the function by using its name, followed by **parentheses**, which **enclose** the arguments.  
For example, we call the print function with a string argument to generate output:

In [1]:
print('hello')

hello

# List funtcions

## len()
```len()``` lets you get the number of items in a list like objects

In [2]:
lst = [1, 4, 9, 16]
st = 'sunil'
print(len(lst))
print(len(st))

4
5

In [3]:
len(range(5, 100, 5))

19

In [4]:
letters = ["a", "b", "c"]
letters += ["d"]
print(len(letters))

4

In [5]:
x = "abc"
x *= 2
print(len(x))

6

## append()
The ```append()``` function is used to add an item to the end of the list.  
Te function is called using the list name, followed by a dot.

In [6]:
lst = [1, 2, 3, 4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

## insert()
```insert()``` inserts a new item at the given position in the list.

The first argument is the position index, while the second parameter is the item to insert at that position.

In [7]:
lst = [10, 9, 8, 7]
lst.insert(1, 6)
lst

[10, 6, 9, 8, 7]

In [8]:
nums = [9, 8, 7, 6, 5]
nums.append(4)
nums.insert(2, 11)
print(len(nums))

7

## index() 
```index()``` finds the first occurrence of a list item and returns its index.

In [9]:
x = [2, 4, 5, 7, 4]
y = x.index(4)
print(y)

1

In [10]:
z = x.index(3)
z

ValueError: 3 is not in list

In [11]:
#  can be applied to string

st = "python"
print(st.index('t'))

2

## max(list)
Returns the maximum value.
## min(list)
Returns the minimum value.

In [12]:
nums = [1, 3, 5, 2, 4]
mn = min(nums)
mx = max(nums)
print(mn)
print(mx)

1
5

In [13]:
#  can be applied to string

print(min(st))
print(max(st))

h
y

## Others functions

```list.count(item)```: Returns a count of how many times an item occurs in a list.   
```list.remove(item)```: Removes an item from a list.  
```list.reverse()```: Reverses items in a list.

In [14]:
ls = [2, 4, 6, 4, 2, 5, 6, 7, 8, 2, 2, 5]
count = ls.count(2)
print(count)

4

In [15]:
print('Before removing 4: ', ls)
ls.remove(4)
print('After removing 4: ', ls) # it only removes the first occurance of the items

Before removing 4:  [2, 4, 6, 4, 2, 5, 6, 7, 8, 2, 2, 5]
After removing 4:  [2, 6, 4, 2, 5, 6, 7, 8, 2, 2, 5]

In [16]:
print(ls)
ls.reverse()
print('Reversed: ', ls)

[2, 6, 4, 2, 5, 6, 7, 8, 2, 2, 5]
Reversed:  [5, 2, 2, 8, 7, 6, 5, 2, 4, 6, 2]

In [17]:
# in string

st = 'hello python'
print(st.count('h'))

2

In [18]:
lst = [8, 4, 2, 6]
lst.remove(2)
print(len(lst) + lst.count(6))

4

In [19]:
nums = [2,4,8,9,5]

nums.insert(1, 3)
nums.remove(9)
nums.insert(0, nums.count(8))
print(nums[3])

4

# String Functions

## format()
Strings have a ```format()``` function, which enables values to be embedded in it, using placeholders.

In [20]:
a = 1
b = 2
print("The value of a = {}, and b = {}".format(a, b))

The value of a = 1, and b = 2

In [21]:
# this can be written as
a = 1
b = 2
print("The value of a = {0}, and b = {1}".format(a, b))

The value of a = 1, and b = 2

In [24]:
#  if place holders are reversed
a = 1
b = 2
print("The values are {1}, {0}".format(a, b))

The values are 2, 1

In [25]:
print("{0}{1}{0}".format("abra", "cad"))

abracadabra

In [27]:
#  naming place holders
st = 'some values are {x}, {y}'.format(x = 5, y = 6)
print(st)

some values are 5, 6

In [29]:
st = "{c}, {b}, {a}".format(a = 5, b = 9, c = 7)
print(st)

7, 9, 5

## join()
```join()``` joins a list of strings with another string as a separator.

In [32]:
str_lst = ['hello', 'python', 'lover', '!']
joined_str = ' '.join(str_lst)
print(joined_str)

hello python lover !

In [33]:
str_lst = ['hello', 'python', 'lover', '!']
joined_str = ', '.join(str_lst)
print(joined_str)

hello, python, lover, !

## split()

```split()``` is the opposite of ```join()```.  
It turns a string with a certain separator into a list.

In [35]:
st = 'hello, python, lover, !'
split_str = st.split(',')
print(split_str)

['hello', ' python', ' lover', ' !']

In [37]:
st = 'hello python lover !'
split_str = st.split(' ')
print(split_str)
print(split_str[1])

['hello', 'python', 'lover', '!']
python

## replace()
```replace()``` replaces one substring in a string with another.

In [39]:
st = 'Nepal'
st1 = st.replace('N', 'P')
print(st1)

Pepal

In [47]:
txt = 'Python is easy.'
print(txt.replace('Python', 'C++').replace('easy', 'hard'))

C++ is hard.

In [40]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

```lower()``` and ```upper()``` change the case of a string to lowercase and uppercase.

In [48]:
l_st = 'Hello'
print(l_st.upper())

HELLO

In [49]:
u_st = 'PYTHON'
print(u_st.lower())

python

# User defined functions
You can create your own functions by using the **def** statement.

Here’s an example of a function named **my_func**. It takes no **arguments**, and prints **"spam"** three times.

In [51]:
def my_func():
    print('spam')
    print('spam')
    print('spam')
    
my_func()
my_func() #multiple call
my_func()

spam
spam
spam
spam
spam
spam
spam
spam
spam

In [52]:
def foo():
   print(1)
   print(2)

foo()
foo()

1
2
1
2

## Function Arguments
Functions can take **arguments**, which can be used to generate the function output.

In [53]:
def double(num):
    print(num * 2)
    
double(1)
double(3)

2
6

In [54]:
def mult(x , y):  #multiple arguments
    print(x * y)
    
mult(3, 5)
mult(6, 7)

15
42

In [55]:
def msg(num, ch):
  print(ch+str(num))

msg(18, 'A')

A18

# Returning from Functions
Certain functions, such as int or str, return a value instead of outputting it.

The returned value can be used later in the code, for example, by getting assigned to a variable.

To do this for your defined functions, you can use the **return** statement.

In [58]:
def add(a, b):
    return a + b

sum = add(6, 8)
print(sum)

14

In [59]:
def foo(x, y):
  if x >= y:
    return x
  else:
    return y

x = foo(4, 7)
print(x)

7

In [60]:
def calc(x, y):
   return [x+y, x*y] #returning list or multiple returning

res = calc(3, 4)
print(res[1])

12

In [61]:
def sum(x):
    res = 0
    for i in range(x):
        res+=i
    return res
    
print(sum(4))

6

In [62]:
def print_nums(x):
  for i in range(x):
    print(i)
    return
print_nums(10)

0

In [63]:
def func(x):
  res = 0
  for i in range(x):
     res += i
  return res

print(func(3))

3

# Problem
## Search Engine

You’re working on a search engine. Watch your back Google!  
The given code takes a text and a word as input and passes them to a function called **search()**.  
The search() function should return **"Word found"** if the word is present in the text, or **"Word not found"**, if it’s not.

**Sample Input**  
"This is awesome"  
"awesome"

**Sample Output**  
Word found

# Solution

In [64]:
def search(text, word):
    if word in text:
        return "Word found"
    return "Word not found"
    
text = input()
word = input()

print(search(text, word))

hello python lovers
hello
Word found