# Back slash

In [1]:
print('hello I\'m sunil')

hello I'm sunil

Backslash is use as escape sequence

In [2]:
print('hello \n world')

hello
 world

In [4]:
print('this is\ttab')

this is	tab

In [7]:
print("""if we use 3 quote
then we don't need escape char""")

if we use 3 quote
then we don't need escape char

# Concatenation

In [8]:
str1 = "Hi"
str2 = " there"
print(str1 + str2)

Hi there

In [10]:
print('45' + '2')

452

In [9]:
print(str1 * 3)

HiHiHi

# Problem

String

You need to make a program for a leaderboard.
The program needs to output the numbers 1 to 9, each on a separate line, followed by a dot:

1. 
2. 
3. 

...

# Solution

In [12]:
print("""1.
2.
3.
4.
5.
6.
7.
8.
9.""")

1.
2.
3.
4.
5.
6.
7.
8.
9.