# Variable

In [1]:
# syntax 
# variable_name = variable_value

eggs = 5
print(eggs)

5

In [2]:
print(eggs + 5)
print(eggs * 3)
print(eggs**3)

10
15
125

In [5]:
# multiple variables
x = 3
y = 'string '
y * x

'string string string '

In [6]:
del x   #  deleting a variable
x

NameError: name 'x' is not defined

# Input

The ```input() ``` function prompts the user for input, and returns what they enter as a string.

In [7]:
name = input()
print('Hello, ' + name)

Sunil
Hello, Sunil

In [9]:
num = input('Enter a number: ')
print('You entered ' + num)

Enter a number: 6
You entered 6

# Typecasting

Changing one data types into another

In [11]:
x = 5 
type(x)

int

In [12]:
y = str(x)
type(y)

str

In [14]:
z = 6.7
type(z)

float

In [15]:
a = int(z)
type(a)

int

In [17]:
b = str(z)
type(b)

str

In [18]:
c = '9'
type(c)

str

In [19]:
d = int(c)
type(d)

int

In [22]:
num = int(input('Enter a number: '))
sq_num = num ** 2
print('Square of given number is ', sq_num)

Enter a number: 6
Square of given number is  36

# Inplace operators

In [25]:
x = 7
x += 2
print(x)
x -= 5
print(x)
x *= 3
print(x)
x %= 5
print(x)

9
4
12
2